body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  @media (max-width: 500px) {
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
      
      form {
        display: flex;
        flex-direction: column;
      }
      
      label {
        margin-bottom: 10px;
      }
      
      input[type="text"] {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #45a049;
      }
      
  }